<h1>Aulas</h1>

<% @sessions.each do |session| %>
  <ul>
    <li>
        <td><%= session.date %></td>
        <td><%= session.content %></td>
      <td> | <%= link_to 'Exibir', session %></td>
    </li>
  </ul>    
  
<% end %>

<%= link_to 'Nova Aula', new_session_path %>
