<h1>Detalhes do Dia <%= @calendar_day.date %></h1>

<p>Data: <%= @calendar_day.date %></p>
<p>Dia da Semana: <%= @calendar_day.date.strftime("%A") %></p>
<!-- Exibir sessões associadas ou outras informações, se aplicável -->
