<h1> Alunos </h1>

<div>
  <ul>
    <% @clients.each do |client| %>
      <li><%= link_to client.name, client_path(client) %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to "Novo Aluno", new_client_path %></p>