<h1>Home</h1>

<table>
  <thead>
    <tr>
      <th>Horário</th>            
      <% unique_days = unique_days(@slots) %>
      <% unique_days.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% sorted_time = sorted_times(@slots) %>
    <% sorted_time.each do |time| %>
      <tr>
        <td><%= time %></td>
        <% unique_days.each do |day| %>
          <% slot = find_slot(@slots, time, day) %>
          <td>
            <%= format_slot_cell(slot) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>TODO LIST:</h2>
<div>
  <ul>
    <li>Calendário</li>
    <li>Planejamento Anual</li>
  </ul>
</div>
