<h1>Produtos:</h1>
<a href="<%= new_product_path %>">Novo</a>

<ul>
  <% @products.each do |product| %>
    <li>
      <a href="<%= product_path(product) %>"><%= product.name %></a>
    </li>
  <% end %>
</ul>